@font-face {
    font-family: 'Dalelands';
    src: url('../fonts/DalelandsUncialCondensed-rWYK.ttf') format('truetype');
}

.name-container {
    font-family: 'Dalelands';
}

ul li {
    color: black;
    font-weight: 400;
    list-style: none;
    line-height: 1em;
}