.search {
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    top: 200px;
	left: 250px;
	
}

.search button {
	margin-bottom: 20px;
}

.search {
	margin: 36px auto;
	width: 100%;
	max-width: 600px;
}
.search-label {
	position: relative;
}
.search input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}
.search-name {
	font-size: 1.2rem;
	text-align: center;
}



.result-items .desc-wrapper {
	text-align: center;
	align-items: center;
}

button {
	padding: 10px;
	border: solid 1px red;
	font-family: 'Lato', sans-serif;
	background-color: black;
	border-radius: 10%;
	color: white;
	margin-top: 10px;
	cursor: pointer;
}

.category {
	display: block;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
	line-height: 1.3;
	padding:.8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #404040;
}

