.search {
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    top: 200px;
    left: 250px;
}

.search {
	margin: 36px auto;
	width: 100%;
	max-width: 600px;
}
.search-label {
	position: relative;
}
.search input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}
.search-name {
	font-size: 1.1rem;
	text-align: center;
}



.search-name button {
	text-align: center;
	align-items: center;
}