.search {
	position: relative;
	top: 100px;
		
	
}

.search button {
	margin-bottom: 20px;
	display: inline;
}

/* .search {
	margin: 36px auto;
	width: 90%;
	max-width: 700px;
	box-shadow: 1px 10px 10px black;
	height: 100%;
	padding: 50px;
} */
.search-label {
	position: relative;
}
.search input {
	width: 100%;
	padding: 16px;
	font-size: 1em;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
	
}
.search-icon {
	position: absolute;
	top: -1px;
	font-size: 24px;
	color: #555;
	right: 18px;
}
.search-name {
	font-size: 1.8rem;
	text-align: center;
	display: inline;
	color: white;
	letter-spacing: 0.05em;
	text-shadow: 0 1px 10px black;
}



.result-items .desc-wrapper {
	text-align: center;
	align-items: center;
	margin-top: 20px;
}

button {
	padding: 10px;
	border: solid 1px #e00000 ;
	font-family: 'Lato', sans-serif;
	background-color: black;
	border-radius: 10%;
	color: white;
	margin-top: 10px;
	cursor: pointer;
	margin-left: 20px;
}

.category {
	display: block;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
	line-height: 1.3;
	padding:.8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #404040;
}

@media only screen and (max-width: 600px) {
	.search {
		margin: 36px auto;
		width: 90%;
		max-width: 300px;
		box-shadow: 1px 10px 10px black;
		height: 100%;
		padding: 20px;
		font-size: 0.9em;
	}

	button {
		display: block;
		padding: 10px;
		border: solid 1px #e00000 ;
		font-family: 'Lato', sans-serif;
		background-color: black;
		border-radius: 10%;
		color: white;
		cursor: pointer;
		margin: 10px auto 0;
	}

	.search button {
		margin-bottom: 20px;
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.search {
		margin: 36px auto;
		width: 70%;
		max-width: 700px;
		box-shadow: 1px 10px 10px black;
		height: 100%;
		padding: 50px;
	}
}


@media only screen and (min-width: 992px) {
	.search {
		margin: 36px auto;
		width: 70%;
		max-width: 500px;
		box-shadow: 1px 10px 10px black;
		height: 100%;
		padding: 50px;
	}
}

@media only screen and (min-width: 1200px) {
	.search {
		margin: 36px auto;
		width: 80%;
		max-width: 700px;
		box-shadow: 1px 10px 10px black;
		height: 100%;
		padding: 50px;
	}
}


